* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.clr {
    clear: both;
}

.box {
    border: 1px solid black;
    padding: 2rem;
    width: 33.3%;
    float: left;
}

#section-2 {
    margin-top: 1rem;
}

.main {
    border: 1px solid black;
    width: 70%;
    padding: 3rem 1rem;
    float: right;
}

#section-2 aside {
    background-color: #48523a;
    color: hsl(0, 0%, 99%);
    width: 30%;
    float: left;
}

#section-2 li {
    list-style: none;
    padding: 0.2rem 9rem;
    float: left;
}